# ---- Node.js ----
PORT=3000
NODE_ENV=development

# ---- PostgreSQL ----
DB_HOST=postgres
DB_PORT=5432
DB_NAME=battaglia_navale
DB_USERNAME=postgres
DB_PASSWORD=postgres

# ---- JWT (RS256) ----
PRIVATE_KEY_PATH=./src/secrets/jwtRS256.key
PUBLIC_KEY_PATH=./src/secrets/jwtRS256.key.pub
JWT_EXPIRES_IN=1h